upstream app_pool {
{{ range $server := .services_app }}
    server {{ $server.Value }};
{{ end }}
}

server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;
    #     server_name  mail.*;

    location / {
        proxy_pass http://app_pool;
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}