[Unit]
Description=App %i
Requires=etcd.service
Requires=docker.service
Requires=mongodb.service
Requires=nginx.service

After=etcd.service
After=docker.service
After=mongodb.service
After=nginx.service

[Service]
TimeoutSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill app.%i
ExecStartPre=-/usr/bin/docker rm app.%i
ExecStartPre=/bin/bash -c 'echo "APP=`echo %i | cut -d \- -f 1`\nPORT=`echo %i | cut -d \- -f 2`" > /tmp/%i'
ExecStartPre=/bin/bash -c 'export $(cat /tmp/%i | xargs) && etcdctl ls /apps/$APP/env/ | { while read IN; do KEY=$${IN##/*/}; VALUE=$(etcdctl get /apps/$APP/env/$KEY); echo $KEY=$VALUE; done } >> /tmp/%i'
ExecStart=/bin/bash -c 'export $(cat /tmp/%i | xargs) && docker run --rm --name app.%i -v /data/apps/$APP:/data/app -p ${COREOS_PRIVATE_IPV4}:$PORT:8080 -e "DATABASE_HOST=$(etcdctl get /services/mongodb)" --env-file /tmp/%i app'
ExecStop=/usr/bin/docker stop app.%i
ExecStartPost=-/bin/bash -c 'export $(cat /tmp/%i | xargs) && etcdctl set /apps/$APP/units/$PORT $COREOS_PRIVATE_IPV4:$PORT'
ExecStopPost=-/bin/bash -c 'export $(cat /tmp/%i | xargs) && etcdctl rm /apps/$APP/units/$PORT'
ExecStopPost=-/bin/bash -c 'rm /tmp/%i'
