[Unit]
Description=Nginx
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill nginx1
ExecStartPre=-/usr/bin/docker rm nginx1
#ExecStartPre=/usr/bin/docker pull nginx
ExecStartPre=-/usr/bin/env
ExecStart=/usr/bin/docker run --rm --name nginx1 -p 80:80 -e "HOST_IP=${COREOS_PRIVATE_IPV4}" nginx
ExecStop=/usr/bin/docker stop nginx1

[X-Fleet]
X-Conflicts=nginx.service
